@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

:root {
	--bluesteel: #5c93d3;
	--lightbluesteel: #bae4fd;
	
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: ghostwhite;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Coda', cursive;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	color: black;
	font-size: clamp(1rem, 3.5rem, 4.5rem);
	text-align: center;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100vh;
}

.header-wrapper {
	background-image: url("../images/susan-wilkinson-JixYJZUF2sI-unsplash.jpg");
	background-position: center;
	background-size: cover;
	width: 40vw;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.logo-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #ffffffbb;
	margin-bottom: 16rem;
}

.logo {
	width: clamp(50px, 100px, 150px);
	padding: 1rem;
}

.form-wrapper {
	flex: 1 1 auto;
	background-color: #fafafa;
	width: 65vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-intro {
	font-size: clamp(1rem, 1.5rem, 2rem);
	font-weight: 600;
	padding: 0 5vmin 4vmin 5vmin;
	text-shadow: 1px 1px 1px var(--bluesteel);
}

.form-intro:first-of-type {
	margin-top: 2rem;
}

.form-card {
	background-color: ghostwhite;
	padding: 2rem;
	box-shadow: 1px 3px 6px 1px #99999944;
}

.form-input-container {
	display: flex;
	flex-wrap: wrap;
}

.input-wrapper {
	padding: 1vh 10vh 1vh 0;
}

label {
	display: block;
	margin-bottom: .25rem;
}

input {
	border-radius: 0.4em;
	width: min(70vw, 250px);
	height: 2rem;
	border: 0.5px solid var(--lightbluesteel);
	padding-left: 6px;
}

input[type="text"]:placeholder-shown,
input[type="password"]:placeholder-shown,
input[type="email"]:placeholder-shown{
	border: 0.5px solid var(--lightbluesteel);
	box-shadow: none;
}

input[type="text"]:focus-visible,
input[type="text"]:focus,
input[type="email"]:focus-visible,
input[type="email"]:focus
 {
	border: 1px solid var(--bluesteel);
	box-shadow: 0px 0px 3px 1px #48608155;
	outline: 0px;
}

input[type="password"]:focus-visible, input[type="password"]:focus {
	border: 1px solid #88acd4;
	box-shadow: 0px 0px 3px 1px #48608155;
	outline: 0px;
}

input:invalid {
	border: 1px solid coral;
	box-shadow: 0px 0px 4px 1px #ff7f5044;
}

input:valid {
	border: 1px solid forestgreen;
	box-shadow: 0px 0px 4px 1px #228b2244;
}

button {
	width: min(400px,70vw);
	font-family: 'Coda', cursive;
	text-shadow: 1px 1px 3px var(--lightbluesteel);
	height: 3rem;
	border: 0;
	margin: 3rem auto 1rem 2rem;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	background-color: var(--bluesteel);
	box-shadow: 1px 1px 9px 1px #66666655;
}

button:hover {
	cursor:pointer;
}

.account-callout {
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

.account-callout > a {
	color: var(--bluesteel);
}

@media screen and (max-width: 700px) {
	main {
		flex-direction: column;
		justify-content: normal;
	}
	.header-wrapper {
		width: 100vw;
	}

	.form-wrapper {
		width: 100vw;
	}
	.logo-wrapper {
		margin-bottom: 0;
	}
}