@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

:root {
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: ghostwhite;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Coda', cursive;
	margin: 0;
	padding: 0;
}

h1 {
	color: black;
	font-size: 3rem;
	text-align: center;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100vh;
}

.header-wrapper {
	background-image: url("../images/susan-wilkinson-JixYJZUF2sI-unsplash.jpg");
	background-position: center;
	background-size: cover;
	width: 40vw;
	height: 100%;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.logo-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #ffffffbb;
}

.logo {
	width: min(100px, 40vw);
	padding: 1rem;
	flex: 0 0 100px;
}

.form-wrapper {
	flex: 1 1 auto;
	background-color: lightgrey;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-intro {
	font-size: 2rem;
	padding: 2vmin 5vmin 2vmin 5vmin;
}

.form-card {
	background-color: ghostwhite;
	padding: 2rem;
}

.form-input-container {
	display: flex;
	flex-wrap: wrap;
}

.input-wrapper {
	padding: 2vmin 15vmin 2vmin 0;
}

label {
	display: block;
}

input {
	border-radius: 0.4em;
	width: min(50vw, 250px);
	border: 0.1125em solid black;
}

@media screen and (max-width: 700px) {
	main {
		flex-direction: column;
	}
	.header-wrapper {
		width: 100vw;
		height: auto;
	}
	.form-wrapper {
		width: 100vw;
		height: auto;
	}
}